body {
    background-color: #0b2748;
}


.block {
    display: inline-block;
    border:1px solid #081b32;
    background-color: #081b32;
}
.block-on {
    background-color: white;
}

.block-L {
    background-color: #1c81cf;
}

.block-LR {
    background-color: #f14561;
}

.block-O {
    background-color: #18f398;
}

.block-S {
    background-color: #7c00d6;
}
.block-Z {
    background-color: #f49022;
}

.block-T {
    background-color: #fffefe;
}

.block-row {
    height: 15px;  /* not the best way to do it */
}
.display {
    display: inline-flex;
    flex-direction: column;
}

.block-sml {
    height : 10px;
    width: 10px;
}

.block-med {
    height : 15px;
    width: 15px;
}

.block-big {
    height : 30px;
    width: 30px;
}

.btn {
    background-color: #2f365a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.btn:hover {background-color: #5f25a1}


/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  width:200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


